:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --foreground: #28153d;
  --background: #f0f0f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f0f0f0;
    --background: #292929;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

html {
  max-width: 100vw;
}

body {
  overflow-x: hidden;
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
  width: 80vw;
  max-width: 1000px;
  margin: 4rem auto;
  line-height: 22px;
  font-size: 1.1em;
}

body p {
  margin-bottom: 1em;
}

body h2 {
  margin-top: 2px;
  margin-bottom: 15px;
}

body h3 {
  margin-top: 1px;
  margin-bottom: 6px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 850px) {
  a {
    text-decoration: underline;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

#header {
  font-size: 2.5em;
  line-height: initial;
  margin: auto;
  max-width: fit-content;
  text-align: center;
}

@media only screen and (orientation: portrait) {
  #header {
    font-size: 2.0em;
    margin-bottom: 10pt;
  }

  body {
    margin: 2.5rem auto;
  }
}

#name {
  font-size: 1.4em;
  font-weight: bold;
}

#navContainer {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 2px;
}

@media (prefers-color-scheme: dark) {
  #navContainer {
    background: #3b3b3b;
  }
}

#nav {
  height: 50px;
  width: 450px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  font-size: 1.3em;
}

@media only screen and (max-width: 850px) {
  #nav {
    width: 100%;
    padding: 0 20px;
  }
}

.main {
  margin-top: 1rem;
}
