#content {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#text {
  flex-grow: 1;
  margin-right: 15px;
  max-width: calc(80vw - 13em);
}

#photoFrame {
  width: 13em;
  font-size: 1.25em;
  background: lightgray;
  padding: 20px;
  height: max-content;
}

#photoFrame img {
  display: block;
  width: 100%;
  min-width: 100px;
  height: auto;
  margin-bottom: 20px;
}

@media (max-width: 60em) {
  #text {
    min-width: 80vw;
    margin-right: 0px;
    margin-top: 10px;
  }

  #photoFrame {
    min-width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
  }

  #photoFrame img {
    width: 30%;
    max-width: 150px;
    height: auto;
    margin-bottom: 0px;
    margin-right: 20px;
  }
#content {
  flex-wrap: wrap;
}
}

#collage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#collage img {
  max-height: 12em;
  width: auto;
  padding: 3px 0;
}